@import url(./__lang/header__lang.css);
@import url(./__logo/header__logo.css);
@import url(./__lang-type/header__lang-type.css);
@import url(./__lang-type/_active/header__lang-type_active.css);

.header {
  display: flex;
  background: #2A2C2F;
  width: 1184px;
  margin: auto;
  padding-top: 28px;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
	.header {
    width: 928px;
	}
}

@media screen and (max-width: 1023px) {
	.header {
    width: 720px;
	}
}

@media screen and (max-width: 767px) {
	.header {
    padding-top: 16px;
    width: 288px;
	}
}